################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CALCULADORA FORMS/FileContentIndex/778fba5f-4729-4f58-8668-19c7503554b7.vsidx
/.vs/CALCULADORA FORMS/FileContentIndex/69d195b3-31e1-4d74-bdb7-5fe124eb0e1d.vsidx
